@charset "utf-8";

/* Rest CSS */
* {
	box-sizing: border-box;
}
body, p, h1, h2, h3, h4, h5, h6, ul, ol {
	margin: 0;
	padding: 0;
}
ul, ol {
	list-style-type: none;
}
div {
	box-sizing: border-box;
}
img {
	vertical-align: top;
	border: none;
}
table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
	color: #000;
}