@charset "utf-8";
.navi {
	position: fixed;
	right: 50px;
	width: 60px;
	top: 50%;
	height: 200px;
	margin-top: -100px;
	background-color: rgba(0,0,0,0.4);
	text-align: center;
	border-radius: 10px;
	z-index:999999;
}
.navi a {
	display: inline-block;
	width: 10px;
	margin: 10px 0;
	height: 10px;
	text-indent: -9999px;
	overflow: hidden;
	background-color: #fff;
	border-radius: 5px;
}
.navi li.active a {
	background-color: #fed136;
}
#page1 {
	position: relative;
}
.key_text {
	position: absolute;
	bottom: 200px;
	left:20%;
	z-index: 9999;
	max-width: 940px;
}
.key_text .bg_cursor {
	display: inline-block;
	width: 8px;
	height: 1em;
	margin-top: 15px;
	background-color: #ffd200;
	vertical-align: top;
	text-indent: -9999px;
	animation:blinker 1s linear infinite;
}
@keyframes blinker { 80% {opacity:0;} }

.key_text a.more {
	display: block;
	width: 240px;
	height: 65px;
	background-color: #fed136;
	border-radius: 10px;
	color:black;
	margin: 0 auto;
	margin-top: 20px;
	line-height: 65px;
	font-weight: 600;
	text-align: center;
	opacity: 0;
	transition: opacity 1.5s;
}
#header.active a.more {
	opacity: 1;
}
.key_text .more:hover {
	background-color: white;
	color:#141414;
}
.key_text h3 {
	font-size: 5em;
	color: white;
	font-weight: 600;
	text-align: left;
	font-style: italic;
	transform: translateX(100vw);
	transition: transform 1.8s;
}
#header.active h3 {
	opacity: 1;
	transform: translatey(0);
}
.key_text p {
	color: white;
	font-size: 4em;
	font-weight: 600;
	text-align: left;
	padding-top: 10px;
	transform: translateX(-80vw);
	transition: transform 1.5s;
}
#header.active p {
	transform: translate(0);
}
.keyvisual .key_img {
	position: relative;
	height: 700px;
}
.keyvisual .key_img ul {
	position: absolute;
	width: 100%;
	height: 700px;
}
.keyvisual .key_img li {
	position: relative;
	overflow: hidden;
	height: 700px;
}
.keyvisual li video {
	max-width: 100%;
}
.upper {
	top: 42px;
	position: absolute;
	left: 50%;
	margin-left: -460px;
	width: 920px;
	height: 70px;
	text-align: center;
	z-index: 9999;
}
#LOGO {
	float: left;
	width: 96px;
	height: 22px;
}
#LOGO a {
	display: block;
	width: 96px;
	height: 22px;
}
#LOGO span {
	display: inline-block;
	overflow: hidden;
	font-size: 0;
	line-height: 0;
	width: 96px;
	height: 22px;
	background: url(../images/KaKaopage.png) -74px -344px;
	text-indent: -9999px;
	vertical-align: middle;
	z-index: 9999;
}
#GNB {
	float: right;
	margin-right: 20px;
	border-bottom: 1px solid white;
}
#GNB ul li {
	display: inline-block;
}
#GNB ul li a {
	display: block;
	padding: 5px 20px;
	color: white;
	font-size: 1.6em;
	font-weight: 600;
}
#GNB ul li:last-child a {
	padding-right:0;
}
#mobile {
	display: none;
}
@media only screen and (max-width:1200px){
	.key_text {
		bottom:28%;
		left:5%;
	}
	.key_text h3 {
		font-size: 3em;
	}
	.key_text p {
		font-size: 3em;
	}
	.key_text a.more {
		width: 140px;
		height: 50px;
		border-radius: 10px;
		margin-top: 20px;
		line-height: 50px;
		font-weight: 600;
		text-align: center;
	}
	.key_text .bg_cursor {
		margin-top: 10px;
	}
}
@media only screen and (max-width:940px){
	#GNB {
		display: none;
	}
	.key_text {
		bottom:25%;
		left:5%;
	}
	.key_text h3 {
		font-size: 3em;
	}
	.key_text p {
		font-size: 3em;
	}
	.key_text .bg_cursor {
		height: 1em;
	}
	.key_text a.more {
		width: 140px;
    height: 50px;
		border-radius: 10px;
    margin-top: 15px;
    line-height: 50px;
    font-weight: 600;
    text-align: center;
	}
	#LOGO {
		float:none;
		margin:0 auto;
	}
	#LOGO span {
		vertical-align: top;
	}
	.upper {
		left: 0;
		margin-left: 0;
		width:100%;
	}
}
@media only screen and (max-width:720px){
	.key_text {
		bottom:18%;
		left:5%;
	}
	.key_text h3 {
		font-size: 2em;
	}
	.key_text p {
		font-size: 2em;
		padding-top: 0;
	}
	.key_text .bg_cursor {
		height: 1em;
		width: 4px;
		margin-top: 7px;
	}
	.key_text a.more {
		width: 80px;
    height: 30px;
		border-radius: 10px;
    margin-top: 15px;
    line-height: 30px;
    font-weight: 600;
    text-align: center;
		font-size: 0.7em;
	}
}
@media only screen and (max-width:460px){
	.upper {
		top:20px;
	}
	.key_text {
		bottom:25%;
		left:10%;
	}
	.key_text h3 {
		font-size: 1em;
	}
	.key_text p {
		font-size: 1em;
		padding-top: 0;
	}
	.key_text .bg_cursor {
		height: 1em;
		width: 2px;
		margin-top: 4px;
	}
	.key_text a.more {
		width: 60px;
		height: 20px;
		border-radius: 5px;
		margin-top: 5px;
		line-height: 20px;
		font-weight: 600;
		text-align: center;
		font-size: 0.375em
	}
}
@media only screen and (max-width:360px){
}
#page2 {
	padding: 90px 0;
}
#page2 .service_title {
	text-align: center;
	margin-bottom: 60px;
}
#page2 .service_menu {
	margin: 0 auto;
	margin-top: 50px;
	max-width: 940px;
	text-align: center;
}
#page2 .service_menu dt {
	font-size: 18px;
	font-weight: 600;
}
#page2 .service_menu dd {
	color: #777;
	font-size: 13px;
}
#page2 .service_menu::before {
	content: "";
	display: block;
}
#page2 .service_menu::after {
	content: "";
	display: block;
	clear: both;
}
#page2 .service_menu li {
	width: calc((100% - 70px)/3);
	float: left;
	margin-left: 35px;
}
#page2 .service_menu li img {
	border: 3px solid #fed136;
	border-radius: 40px;
	width: 80px;
	height: 80px;
	padding:5px;
}
#page2 .service_menu li:first-child {
	margin-left: 0;
}
#page2 .service_menu li a {
	display: block;
}
#page2 .service_title h3 {
	color: #141414;
	font-size: 45px;
	font-weight: 900;
}
#page2 .service_title p {
	color: #777;
	font-size: 16px;
	font-weight: 400;
}
@media only screen and (max-width:940px){
	#page2 {
		padding: 50px 0;
	}
	#page2 .service_menu li {
		margin-left: 20px;
		width: calc((100% - 40px)/3);
		height: auto;
	}
}
@media only screen and (max-width:720px){
	#page2 {
		padding: 30px 0;
	}
	#page2 .service_title {
		margin-bottom: 40px;
	}
	#page2 .service_menu {
		margin-top: 30px;
	}
	#page2 .service_menu dd {
		display: none;
	}
	#page2 .service_menu dt {
		font-size: 14px;
	}
	#page2 .service_title h3 {
		font-size: 35px;
	}
}
@media only screen and (max-width:460px){
	#page2 {
		padding: 15px 0;
	}
	#page2 .service_title h3 {
		font-size: 20px;
	}
	#page2 .service_menu dt {
		font-size: 10px;
	}
	#page2 .service_title {
		margin-bottom: 10px;
	}
	#page2 .service_menu {
		margin-top: 20px;
	}
}
@media only screen and (max-width:360px){

}
#page3 {
	background-color: #141414;
	padding: 100px 0 100px;

}
#page3 .portfolio_inner {
	max-width: 940px;
	margin: 0 auto;
}
#page3 .portfolio_title {
	text-align: center;
}
#page3 .portfolio_title h3 {
	color: white;
	font-size: 70px;
	font-weight: 900;
}
#page3 .portfolio_title p {
	color: white;
	font-size: 40px;
	font-weight: 900;
}
#page3 .banner {
	margin: 0 auto;
	max-width: 920px;
	overflow-x: hidden;
}

#page3 .banner .desc {
	text-align: center;
	background-color: #ccc;
	padding: 15px 0;
	margin-top: -4px;
}
#page3 .banner .desc dt {
	color: black;
	font-size: 18px;
	font-weight: 600;
}
#page3 .banner .desc dd {
	color: #777;
	font-size: 14px;
}
#page3 .banner li {
	float: left;
	margin-bottom: 45px;
	margin-left: 34px;
	width: calc((100% - 68px)/3);
	/* transition: all 0.5s; */
	transform: translateX(1000px);
	transition: transform 1.6s;
	opacity: 0;
}
#page3 .banner li a {
	display: block;
	position: relative;
}
#page3 .banner li:nth-child(3n+1) {
	margin-left: 0;
}
#page3 .banner::before {
	content: "";
	display: block;
	height: 78px;
}
#page3 .banner::after {
	content: "";
	display: block;
	clear: left;
}
#page3.active .banner li {
	transform: translateX(0);
	opacity: 1;
}
/* #page3 .banner li:nth-child(1) {
	transition-delay: 0.8s;
}
#page3 .banner li:nth-child(2) {
	transition-delay: 1s;
}
#page3 .banner li:nth-child(3) {
	transition-delay: 1.2s;
}
#page3 .banner li:nth-child(4) {
	transition-delay: 0.8s;
}
#page3 .banner li:nth-child(5) {
	transition-delay: 1s;
}
#page3 .banner li:nth-child(6) {
	transition-delay: 1.2s;
} */
#page3 .banner li .dim {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(20,20,20,0.8);
	transition: top 0.3s;
}
#page3 .banner li:hover .dim {
	display: none;
}
#page3 .banner li:hover {
	transform: scale(1.1);
	z-index: 9999;
}
#page3 .banner .photo {
	position: relative;
}
#page3 .banner .photo img {
	max-width: 100%;
}
#page3 .banner .photo .banner_text {
	position: absolute;
	z-index: 9999;
	top:80px;
	left:100px;
	color: white;
	display: none;
	font-weight: 400;
	font-size: 1em;
}
#page3 .banner .photo .banner_text p {
	position: relative;
}
#page3 .banner .photo .banner_text p.red,
#page3 .banner .photo .banner_text p.yellow {
	font-size: 2em;
	font-weight: 600;
}
#page3 .banner .photo .banner_text p.banner_about {
	font-size: 1em;
}
#page3 .banner .photo .banner_text p.yellow::after {
	content:"";
	position: absolute;
	top:20px;
	left:40px;
	display:block;
	background-color: #ffd200;
	width:70%;
	height: 5px;
}
#page3 .banner .photo .banner_text p.red::after {
	content:"";
	position: absolute;
	top:20px;
	left:50px;
	display:block;
	background-color: #ff3042;
	width:70%;
	height: 5px;
}
#page3 .banner li:hover .banner_text {
	display: block;
}
#page3 .banner li:hover .desc {
	background-color: white;
}
@media only screen and (max-width:940px){
	#page3 .banner {
		padding: 0 50px;
	}
	#page3 .banner li {
		width: calc((100% - 34px)/2);
		margin-left: 0;
		height: auto;
	}
	#page3 .banner li:nth-child(even) {
		margin-left: 34px;
	}
	#page3 .banner li:hover {
		transform: scale(1.1);
	}
}
@media only screen and (max-width:720px){
	#page3 .banner .photo .banner_text {
		top: 40px;
	}
	#page3 .portfolio_title h3 {
		font-size: 40px;
	}
	#page3 .portfolio_title p {
		font-size: 25px;
	}
	#page3 .banner .photo .banner_text p.red,
	#page3 .banner .photo .banner_text p.yellow {
		font-size: 1.5em;
		font-weight: 600;
	}
	#page3 .banner .photo .banner_text p.banner_about {
		font-size: 0.875em;
	}
	#page3 .banner .photo .banner_text p.yellow::after,
	#page3 .banner .photo .banner_text p.red::after {
		top:15px;
		left:35px;
		width:60%;
	}
}
@media only screen and (max-width:500px) {
	#page3 .banner .photo .banner_text p.banner_about {
		font-size: 0.750em;
	}
}
@media only screen and (max-width:460px){
	#page3 .banner {
		padding: 0 35px;
	}
	#page3 .banner li {
		margin-left:0;
		width: 100%;
	}
	#page3 .banner li:nth-child(even),
	#page3 .banner li:nth-child(odd) {
		margin-left: 0;
	}
	#page3 .banner .photo .banner_text p.red,
	#page3 .banner .photo .banner_text p.yellow {
		font-size: 2em;
		font-weight: 600;
	}
	#page3 .banner .photo .banner_text p.banner_about {
		font-size: 1em;
	}
	#page3 .banner .photo .banner_text p.yellow::after,
	#page3 .banner .photo .banner_text p.red::after {
		top: 23px;
		left: 40px;
		width: 70%;
	}
}
@media only screen and (max-width:360px){

}
#page4 {
	background-image: url(../images/history_bg2.png);
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: relative;
	background-color: #141414;
	padding-bottom: 50px;
	padding-top:50px;
}
#page4 .dim_bg {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: auto;

	z-index: 9999;
}
#page4 .about_list {
	margin-top: 60px;
}
#page4 .about_title {
	padding-top:60px;
	text-align: center;
	max-width:940px;
	margin: 0 auto;
}
#page4 .about_title h3 {
	font-size: 5em;
	color:white;
	font-weight: 900;
}
#page4 .about_title p {
	font-size: 30px;
	color: white;
	font-weight: 900;
}
#page4 .about_list li .photo {
	width: 180px;
	height: 180px;
	overflow: hidden;
	border: 7px solid #f1f1f1;
	border-radius: 90px;
}
#page4 .about_list li {
	position: relative;
	margin: 0 auto;
	margin-bottom: 94px;
	width: 180px;
	height: 180px;
}
#page4 .about_list li .desc {
	position: absolute;
	top: 20px;
	width: 372px;
	height: 172px;
}
#page4 .about_list li .desc h3 {
	font-size: 18px;
	font-weight: 900;
	color:white;
}
#page4 .about_list li .photo::after {
	content: "";
	display: block;
	width: 4px;
	height: 100px;
	left:50%;
	background-color: #f1f1f1;
	position:absolute;
}
#page4 .about_list li:last-child .photo::after {
	display:none;
}
#page4 .about_list li .desc p {
	font-size: 13px;
	color: #ccc;
	padding-top: 10px;
	font-weight: 900;
}
#page4 .about_list li:nth-child(odd) .desc {
	left: -402px;
	text-align: right;
}
#page4 .about_list li:nth-child(even) .desc {
	left: 210px;
	text-align: left;
}
@media only screen and (max-width:940px){

}
@media only screen and (max-width:1000px){
	#page4 .about_list li {
		margin-left:0;
		margin-right:0;
		width: auto;
	}
	#page4 .about_list li .desc h3,
	#page4 .about_list li .desc  p,
	#page4 .about_list li:nth-child(odd) .desc,
	#page4 .about_list li:nth-child(even) .desc{
		left: 25%;
		right: auto;
		width: auto;
		text-align: left;
	}
	#page4 .about_list li .photo::after {
		left:91px;
	}
	#page4 .about_list li br {
		display: none;
	}
	#page4 .about_list li span br {
		display: inline;
	}
}
@media only screen and (max-width:720px){
	#page4 .about_list li .desc h3,
	#page4 .about_list li .desc  p,
	#page4 .about_list li:nth-child(odd) .desc,
	#page4 .about_list li:nth-child(even) .desc{
		left: 35%;
		right: auto;
		width: auto;
		text-align: left;
	}
}
@media only screen and (max-width:520px) {
	#page4 .about_list li .desc p {
		display: none;
	}
	#page4 .about_list li .desc h3 {
		margin-top: 20px;
	}
	#page4 .about_list li:nth-child(odd) .desc,
	#page4 .about_list li:nth-child(even) .desc {
		left:50%;
	}
}
@media only screen and (max-width:460px){
	#page4 .about_list li:nth-child(odd) .desc,
	#page4 .about_list li:nth-child(even) .desc {
		display: none;
	}
	#page4 .about_list li .photo {
		margin: 0 auto;
	}
	#page4 .about_list li .photo::after {
		left:50%
	}
}
@media only screen and (max-width:360px){
}
#page5 {
	padding-top: 150px;
	background-color: #f9f9f9;
	background: url(../images/ceo.png);
	background-position: 100% 0;
	background-repeat: no-repeat;
}
#page5 .main_content {
}
#page5 .team_title {
	text-align: center;
}
#page5 .person_list {
	margin: 0 auto;
	max-width: 940px;
	text-align: center;
}
#page5 .person_list ul {
	transition: all 0.2s;
	position: relative;
}
#page5 .person_list .interview_text {
	display: inline-block;
	position: absolute;
	top: 80px;
	left:250px;
	text-align: left;
}
#page5 .person_list .interview_text p {
		font-size: 14px;
    line-height: 28px;
    color: white;
		font-size: 2em;
		line-height: 45px;
		display: none;
}
#page5 .person_list ul:hover .interview_text p {
	display: block;
}
#page5 .person_list ul:hover dt {
	color: #fff;
}
#page5 .person_list ul:hover dd {
	color: #fff;
}
#page5 .person_list ul:hover {
	background-color: rgba(0,0,0,0.7);
	border-radius: 30px;
	border-top-left-radius: 100px;
	/* border-bottom-right-radius: 100px; */
}
#page5 .person_list ul:hover li .icon a {
	border: 2.5px solid #fff;
	color: #fff;
}
#page5 .person_list .team_text {
	font-size: 18px;
	color: #777;
}
#page5 .person_list dt {
	font-size: 18px;
	font-weight: 600;
	padding-top: 10px;
}
#page5 .person_list li .icon a {
	display: inline-block;
	width: 40px;
	height: 40px;
	border: 2.5px solid rgb(70, 70, 70);
	color: rgb(70, 70, 70);
	border-radius: 20px;
	text-align: center;
	line-height: 35px;
}
#page5 .person_list li .icon span {
	display: none;
}
#page5 .person_list dd {
	color: #777;
	font-size: 13px;
	padding-bottom: 10px;
}
#page5 .person_list::before {
	content: "";
	display: block;
	height: 75px;
}
#page5 .person_list::after {
	content: "";
	display: block;
	height: 26px;
}
#page5 .person_list li {
	width: 220px;
	height: 335px;
}
#page5 .person_list li .person {
	background-color: #141414;
	border-radius: 110px;
	width: 220px;
	height: 220px;
	padding:5px;
	overflow: hidden;
}
#page5 .team_title h3 {
	color: #fff;
	font-size: 4.5em;
	font-weight: 700;
	word-break: break-word;
	letter-spacing: -.05em;
}
#page5 .team_title p {
	color: #777;
	font-size: 16px;
	font-style: italic;
}
#page5 .banner {
	background-color: white;
}
#page5 .banner .banner_inner {
	text-align: center;
	max-width: 940px;
	height: 100%;
	margin: 0 auto;
}
#page5 .banner li {
	display: inline-block;
}
#page5 .banner li a img {
	padding: 50px 0;
	width: 100%;
}
@media only screen and (max-width:940px){
	#page5 .team_title h3 {
		font-size: 2.5em;
		float:none;
		margin-top: -80px;
	}
	#page5 .banner li {
		width: calc((100% - 100px)/4);
	}
	#page5 .banner li a img {
		height: 100%;
	}
}
@media only screen and (max-width:720px){
	#page5 {
		background-image: none;
		background-color: #fed136;
		padding-top: 70px;
	}
	#page5 .team_title h3 {
		color: rgba(255,255,255);
		margin-top: 10px;
	}
	#page5 .person_list li .person {
		background-color: rgba(255,255,255,0);
		border-radius: 0;
	}
}
@media only screen and (max-width:460px){

}
@media only screen and (max-width:360px){

}
#page6 .background {
	position: relative;
	height: 676px;
}
#page6 {
	/* min-width: 940px; */
	padding: 80px 0 116px;
	background-image: url(../images/map_background.jpg);
}
#page6 .title {
	text-align: center;
}
#page6 .title h2 {
	font-size: 2.4em;
	font-weight: 700;
	color: #fff;
}
#page6 .title p {
	line-height: 35px;
	font-family: "Libre Baskerville", serif;
	font-size: 1em;
	font-style: italic;
	color: #989898;
}
#page6 .content {
	margin: 0 auto;
	margin-top: 60px;
	max-width: 940px;
	padding: 0 20px;
}
#page6 .content::before, #page6 .content::after {
	content: "";
	display: block;
}
#page6 .content::after {
	clear: both;
}
#page6 .content .left {
	float: left;
	width: calc((100% - 20px)/2);
}
#page6 .content .left .name {
	height: 52px;
}
#page6 .content .left .email {
	margin-top: 28px;
	height: 52px;
}
#page6 .content .left .subject {
	margin-top: 28px;
	height: 52px;
}
#page6 .content .right {
	float: right;
	width: calc((100% - 20px)/2);
	margin-left:20px;
}
#page6 .content .right .message {
	width: 100%;
	height: 212px;
}
#page6 .content .under {
	float: left;
	margin-top: 28px;
	text-align: center;
	max-width: 940px;
	height: 65px;
}
#page6 .content input[type=text], textarea {
	display: inline-block;
	padding: 12px 10px;
	width: 100%;
	font-family: "Open Sans", sans-serif;
	font-size: 0.875em;
	font-weight: 600;
	color: #bbb;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
#page6 .content input[type=submit] {
	padding: 14px 20px;
	width: 240px;
	height: 65px;
	font-family: "Open Sans", sans-serif;
	font-size: 1.063em;
	font-weight: 600;
	background-color: #fed136;
	color: #fff;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}
@media only screen and (max-width:940px){

}
@media only screen and (max-width:720px){

}
@media only screen and (max-width:460px){

}
@media only screen and (max-width:360px){

}
#footer {
	padding: 30px 0;
}
#footer .content {
	margin: 0 auto;
	max-width: 940px;
}
#footer .content p {
	display: inline-block;
	width: 300px;
	vertical-align: middle;
	font-size: 0.938em;
	color: #555;
}
#footer .content .icon_area {
	display: inline-block;
	margin-left: 80px;
	vertical-align: middle;
	width: 200px;
}
#footer .content .icon_area a {
	display: inline-block;
	margin: 0 3px;
	width: 40px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #fff;
	background-color: #141414;
	border-radius: 50%;
}
#footer .content .icon_area a:last-child {
	margin:0;
}
@media only screen and (max-width:940px){

}
@media only screen and (max-width:720px){

}
@media only screen and (max-width:460px){

}
@media only screen and (max-width:360px){

}
